nav.top-bar {
  border-bottom: 1px solid #AAA;
  position: relative;

  .logo {
    width: 100%;
    position: relative;
    top: 30px;
    text-align: center;
    display: block;

    img {
      box-sizing: content-box;
      height: 30px;
      background: #EEE;
      padding: 10px;
      border: none;
    }
  }
}

.ad {
  height: 90px;
  width: 750px;
  margin: 0 auto;

  .floatleft {
    float: left;
  }

  @media @mobile {
    display: none;
  }
}

section.tower-ad {
  width: 320px;
  float: right;
}