nav.top-bar {
  border-bottom: 1px solid @gray;
  position: relative;

  @media @mobile {
    margin-top: -25px;
  }

  .logo {
    width: 100%;
    position: relative;
    top: 30px;
    text-align: center;
    display: block;

    img {
      box-sizing: content-box;
      height: 30px;
      background: @green;
      padding: 10px;
      border: none;
    }
  }
}

.title {
  font-family: @block;
  color: @blue;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 3em;
  line-height: 1.2em;
  margin: 5px auto 0.5em;
  text-align: center;

  .green {
    font-size: 1.8em;
    display: block;

    @media @mobile {
      font-size: inherit;
    }
  }
}

.chatter {
  color: @dark-gray;
  font-family: @narrow;
  font-size: 1.2em;
  text-align: center;
  padding-bottom: 18px;
}

.credits {
  font-family: @narrow;
  font-size: 0.7em;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 20px;
}

.ad {
  height: 90px;
  width: 750px;
  margin: 0 auto;

  .floatleft {
    float: left;
  }

  @media @tablet {
    display: none;
  }
}

.tower-ad {
  width: 320px;
  padding: 0 10px;
  float: right;

  @media @tablet {
    display: none;
  }
}

footer {
  width: 100%;
  clear: both;
  margin: 1em auto;
  padding-top: 1em;
}